<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kaoli's</title>
	<script type="text/javascript" src="jquery\dist\jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap\dist\css\bootstrap.min.css">
	<script type="text/javascript" src="bootstrap\dist\js\bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="public/css/index.css">
	<script src="public/js/banco.js"></script>
	<script>
		var page = 1;
	</script>


	<div class="container-fluid" ng-app="app" ng-controller="ctrl">
		<div class="row" id="header">
		    <img src="img/logo3.png" id="logo">
		</div>

		<div class="row" id="page">
			<div class="col-sm-6"></div>
			<div class="col-sm-6">
				<ul class="pagination" id="paginacao">
					<li class="page-item"><a href="" class="page-link" id="prev" ng-click="prev()">Anterior</a></li>
					<li class="page-item"><a href="" class="page-link" id="next" ng-click="next()">Posterior</a></li>
				</ul>
			</div>
		</div>

		<div class="row" id="produtoLinha">

			<div class="col-sm-12" id="produtos">
				<div ng-repeat="produto in produtos">
					<div id="{{ produto.id }}">
					<p id="titulo"><a href="">{{ produto.titulo }}</a></p>
					<b id="preco"> {{ produto.preco }}</b>	

					<img id="img" src="{{ produto.img }}">
					</div>
				</div>	
			  </div>
		</div>

				
	<div class="row" id="footer">
		
		<div id="contato">
			<img src="img/whatsapp.png" id="whatsapp">
			<b id="tel">(84) 994786082</b>
		</div>
	</div>
	<script>
	  var app = angular.module('app',[]);
	  app.controller('ctrl', function($scope){
	      $scope.produtos = [];


	      produtos.forEach(function (item,index){
		    
		    if(item.preco == 0){
			item = null;
		    }
			
		    if(!(item == null)){
			if(item.img == ""){
				item.img = "img/img_indisp.jpg";
		    	}

		     
		    	item.preco = "R$ "+item.preco;

			if(item.page == page){
			   $scope.produtos.push(item);
			}
		    }
		});

		$("#prev").hide();
		
		$scope.next = function(){
			page++;

			$scope.produtos = [];


	      		produtos.forEach(function (item,index){
		    
		    		if(item.preco == 0){
					item = null;
		    		}
			
		    		if(!(item == null)){
					if(item.img == ""){
						item.img = "img/img_indisp.jpg";
		    		}


				if(item.page == page){
			   		$scope.produtos.push(item);
				}
		    	}
			});

			$("#prev").show();

			if(produtos[(produtos.length-1)].page == page){
				$("#next").hide();
			}
		}

		
		$scope.prev = function(){
			page--;

			$scope.produtos = [];


	      		produtos.forEach(function (item,index){
		    
		    		if(item.preco == 0){
					item = null;
		    		}
			
		    		if(!(item == null)){
					if(item.img == ""){
						item.img = "img/img_indisp.jpg";
		    		}


				if(item.page == page){
			   		$scope.produtos.push(item);
				}
		    	}
			});

			$("#next").show();

			if(page == 1){
				$("#prev").hide();
			}
		}
	  });
	</script>
</body>
</html>
