#header {
			height: 350px;
			background-color: #cc0066;
		}

		#logo {
			position:relative; 
			left:25%;
			height: 350px; 
			width: 50%; 
			border-radius:50%;
		}

		#produtos {
			height: 3500px;
			width: 100%;
			background-color: white;
		}

		#produtoLinha {
			position: relative;
			top: 300px;
		}

		#page {
			position: relative;
			top: 250px;	
		}

		#paginacao {
			font-size: 3.0rem;
		}

		#produto, #produto2, #produto3, #produto4, #produto5, #produto6 {
			height: 580px;
			border-width: 0px 0px 1px;
			border-style: solid;
		}

		#produto {
			border-top-width: 1px;
		}


		#preco, #titulo {
			position: relative;
			top: 100px;
			left: 55%;
			font-family: Arial;
			font-size: 4.0rem;
		}


		#titulo {
			top: 10%;
			left: 45%;
			width: 600px;
			height: 100px;
			font-size: 4.0rem;
		}

		#img {
			position: relative;
			top: -10%;
			left: -15%;
			height: 70%;
			width: 35%;
			border-radius: 10%;
		}

		#footer {
			position: relative;
			top: 500px;
			background-color: #cc0066;
			height: 350px;
		}

		#whatsapp {
			position: relative;
			top: 30px;
			height: 150px;
			width: 150px;
		}

		#contato {
			position: relative;
			top: 50px;
			left: 20%;
			height: 200px;
			width: 60%;
		}

		#tel {
			position: relative;
			top: 40px;
			left: 50px;
			font-size: 3rem;
		}

		#painel {
			position: absolute;
			top: 300px;
			background-color:white;
			width: 100%;
			height: 600px;
			z-index: 3;
			display: none;
		}
